.nav {
    display: inline-block;
}

.navbar{
    font-family: 'PT-Sans', sans-serif;
    background: white;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    border-bottom: .1rem solid rgb(238, 231, 231);
    /* min-width: 100%; */
} 

.navbar-logo{
    color: darkslategray;
    justify-self: start;
    margin-left: 3vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-firstdraft{
    margin-left:0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2em;
}

.nav-item{
    display: flex;
    align-items: center;
    height: 100%
}
  
.nav-links{
    color: black;
    text-decoration: none;
}

.nav-links-mobile{
    display: block;
    text-align: none;
    padding: 1.5rem;
    margin: 2rem auto;
}

.dropdown-title{
    margin-left: 3vw;
}

.searchbox{
    /* width: 30%;
    margin-left: 2em;
    justify-content: center; */
    display: flex;
    width: 40%;
    margin-left: 2.5em;
    
}

.searchfield{
    /* float: left;
    display: inline-block;
    vertical-align: middle; */
    display: table-cell;
    width: 100%;
    text-align: center;
}

.searchfieldtext{
    padding: 0%;
    margin: 0%;
    width: 100%;
    padding: 10px;
}

.searchicon{
    align-self: center;
    margin-right: 10px;
}

.searchfieldtext::placeholder {
    color: black;
    font-weight:100;
    font-size: 1.2rem;
    opacity: 1;
}

.searchfieldtext{
    border: white;
}

.side-elements{
    flex-grow: 1;
}

.brand-btn, .menu-icon, .searchicon2{
    color: black;
    margin-right: 3vw;
    float: right;
}

.searchicon2{
    visibility: hidden;
}

@media only screen and (max-width: 900px) {
    .brand-btn, .searchfieldtext, .dropdown-title, .searchicon {
        display: none;
    }
    .searchicon2{
        visibility: visible;
    }
}