.logoDiv{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
   }
  
  .logoName{
    font-size: 20px;
    display:inline-block;
  }

  .slide-desc{
    font-size: 1rem;
    font-weight: 500;
    margin: 3%;
  }

  .slide-title.visible{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 3%;
  }

  .slide-desc.visible{
    font-size: 1rem;
    font-weight: 400;
    margin: 3%;
  }
  
  .logoName{
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    width: 50%;
    margin-left: 3%;
    color: orange;
  } 
  
  .logoImage{
    vertical-align: top;
    display: inline-block;
    height: auto;
    width: 50px;
    margin-right: 10%;
    object-fit: cover;
  }

  .displayCard{
      border: none;
  }

  .bottom-bar{
    margin-top: 20px;
    margin-bottom: 10px;
  }