:root{
    --clr-primary: #651fff;
    --clr-gray:#37474f;
    --clr-gray-light:#b0bec5;
  }
  
  *{
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    margin:0;
    padding: 0;
  }
  
  body{
    color:var(--clr-gray);
  }
  
  .wrapper-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    grid-gap: 4rem;
    margin: 2rem;
  }
  
  .container{
    height: 450px;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    border-radius: 1rem;
    position: relative;
    object-fit: cover;
    text-align: center;
  }
  
  .container:hover{
    transform: scale(1.15);
    transition-duration: 0.2s;
  }
  
  .profile-img{
    text-align: center;
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    object-fit: cover;
  }
  
  .description{
    margin:1rem;
    font-size:0.9rem;
  }
  
  .btn{
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--clr-primary);
    padding: 1rem;
  }
  
  .slider{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderImage{
    border-radius: 1rem;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: inherit;
    object-fit: cover;
    object-position: center;
    position: relative;
    justify-content: center;
  
  }
  
  .right-arrow{
    position: absolute;
    top: 30%;
    right: 1%;
    font-size: 2rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: black;
  }
  
  .left-arrow{
    position: absolute;
    top: 30%;
    left: 1%;
    font-size: 2rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: black;
  }
  
  .slide{
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slideActive{
    opacity: 1;
    transition-duration:1s;
    height: 100%;
    width: 100%;
  }
  
  .logoImage{
    height: auto;
    width: 70px;
    margin-right: 10%;
    object-fit: cover;
  }
  
  /* .logoDiv{
    height: 100%;
    width: 100%; */
    /* margin-bottom: 10px; */
  /* } */
  
  .logoName{
    font-size: 20px;
  }
  
  /* .desc{
    height: 200px;
    color: white;
  } */
  
  h4{
    display: inline-block;
    width: 50%;
    margin-left: 10%;
  }