.slider{
  background-color: white;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid white;
    border-radius: 1rem;
    margin: 0px;
    padding: 0px;
  }
  
  /* .spacingcorrection{
    margin: 0 0.rem;
  } */

  .grid {
    margin: 0 auto;
  }

  .sliderImage{
    border-radius: 1rem 1rem 0 0;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: inherit;
    object-fit: cover;
    object-position: center;
    justify-content: center;
    
  }

.grid-item{
    background-color: white;
    margin-bottom: 0.4rem;
    width: 300px;
    border-radius: 1rem;
  }
  
  .grid-item:hover{
    transform: scale(1.3);
    transition-duration: 0.2s;
    /* margin: 15px; */
    z-index: 2;
    border: 0.2rem solid transparent;
    background-image: linear-gradient(white, white), 
                    linear-gradient(to right,  #BF567D, #F2695C);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  .grid-image{
    width: 100%;
    border-radius: 1rem;
  }
  
  .grid-video{
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1rem;
    margin: none;
    padding: none;
    display: block;
  }